.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 20px; */
  /* justify-content: center; */
}

.mainBody {
  padding: 10px 20px 20px 20px;
  width: 95%;
  max-width: 480px;
  height: fit-content;
  border-radius: 24px;
  z-index: 1;
  background: white;
  color: #333333;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.textLink {
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.settingsIcon {
  cursor: pointer;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;
  padding-top: 5px;
}

.topHeader {
  font-size: 20px;
  color: #333333;
  font-weight: 600;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.rightTopBar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currencyName {
  background-color: #ededed;
  padding: 6px 8px;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 500;
}

.mainContent {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainHeader {
  font-size: 18px;
  font-weight: 500;
  padding-left: 4px;
  padding-bottom: 3px;
}

.mainHeaderAmount {
  padding-bottom: 10px;
}

.mainHeader:nth-child(2) {
  padding-bottom: 12px;
}

.selectPairContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pairContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.select {
  flex-grow: 1;
  padding: 15px 10px;
  font-size: 22px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  background-color: #f3f3f3;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid white;
}

.tokenSymbol {
  font-size: 18px;
  font-weight: 500;
}

.currencyWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cryptoImage {
  width: 26px;
  height: 26px;
}

.FeeTierContainer {
  border-radius: 16px;
  border: 2px solid #f3f3f3;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 500;
}

.feeSelect {
  margin-top: 5px;
  width: fit-content;

  font-size: 12px;
  background-color: #ebebeb;
  padding: 4px 8px;

  border-radius: 16px;
  text-align: center;
  font-weight: 600;
}

.editButton {
  padding: 5px 8px;
  background-color: #f3f3f3;
  font-size: 14px;
  border-radius: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.editButton:hover {
  background-color: #ebebeb;
}

.btnConnect {
  margin-top: 10px;
  height: 60px;
  background-color: #9180e0;
  color: white;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  font-size: 16px;
  font-size: 18px;
  font-weight: 600;
}

.btnConnect:enabled:hover {
  /* background-color: #ffdeea; */
}

.btnConnect:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.btnBtn {
  background: #554994;
  border-radius: 17px;
  color: white;
}

.spotPriceBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.spotBox {
  display: flex;
  box-sizing: border-box;
  font-family: Open Sans;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* padding: 4px 5px 4px 15px; */
}

.spotContentBox {
  width: 100%;
}

.spotValue {
  display: flex;
  align-items: center;
}

.priceDropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priceValueBox {
  border: 2px solid white;
  background-color: #f3f3f3;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}
.priceValueItem {
  display: flex;
  justify-content: space-between;
}

.swapUnit {
  background-color: #f7f8fa;
  box-sizing: "border-box";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 8px;
  border-radius: 10px;
}

@media (max-width: 520px) {
  .spotValue {
    font-size: 14px;
  }
  .priceDropdown span {
    font-size: 14px;
  }

  .priceValueItem p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .spotValue {
    font-size: 13px;
    white-space: nowrap;
  }
  .priceDropdown span {
    font-size: 13px;
    white-space: nowrap;
  }

  .priceValueItem p {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) {
  .swapUnit {
    box-sizing: border-box;
    padding: 0px 4px;
  }
}
