::-webkit-scrollbar {
  display: none;
}

.rootBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.tableBox {
  margin-top: 24px;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  backdrop-filter: blur(2px);
  border-radius: 16px;
  overflow: scroll;
}

.tableHead {
  background: linear-gradient(
    241.25deg,
    rgba(255, 255, 255, 0.45) 4.4%,
    rgba(255, 255, 255, 0.65) 61.77%,
    rgba(255, 255, 255, 0.54) 119.94%
  );
  border-radius: 6px;
  padding: 20px;
}

.poolTable {
  padding: 15px;
}

.tableHead {
  background: linear-gradient(
    241.25deg,
    rgba(255, 255, 255, 0.45) 4.4%,
    rgba(255, 255, 255, 0.65) 61.77%,
    rgba(255, 255, 255, 0.54) 119.94%
  );
  margin-bottom: 10px;
}

.tableColumnCell {
  margin-bottom: 10px;
}

.tableColumnLabel {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 8px;
}

.styledBoxFive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.styledAvatarOne {
  height: 33px;
  width: 33px;
  border: 1px solid white;
}

.styledAvatarTwo {
  height: 33px;
  width: 33px;
  border: 1px solid white;
}

.symbolBox {
  display: flex;
  gap: 5px;
}

.symbolBox p {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  padding: 10px 0;
  width: 90px;
  display: flex;
  gap: 3px;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}

.symbolBox p span {
  font-size: 12px;
  align-self: flex-end;
}

.tableDataP {
  text-align: center;
}

.dataRow td {
  padding: 12px 10px;
  min-width: 150px;
}

.composition {
  min-width: 300px !important;
}

.dataRow:hover {
  /* cursor: pointer; */
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease-in;
  padding: 10px 0;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    linear-gradient(112.83deg, #cad7f5 0%, #d1c9f1 110.84%);
  box-shadow: -10px 48.5967px 140px rgba(126, 123, 160, 0.2);
  backdrop-filter: blur(9.5px);
  border-radius: 10.7993px;
  border: 1px solid white;
}

.buttonTd {
  display: flex;
  align-items: center;
  gap: 5px;
}

.addLiquidityButton {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #554994;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 0px;
  border-bottom: 1px solid white;
  min-width: 100px;
}

.removeLiquidityButton {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ce3131 !important;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  min-width: 100px;
}

@media (max-width: 1200px) {
  .dataRow td {
    min-width: 120px;
  }
}

@media (max-width: 1068px) {
  .rootBox {
    width: 100%;
    padding: 50px;
  }
}

@media (max-width: 1024px) {
  /* .tableColumnCell:nth-child(4) {
    display: none;
  }

  .dataRow td:nth-child(4) {
    display: none;
  } */

  .removeLiquidityButton,
  .addLiquidityButton {
    font-size: 12px;
    white-space: nowrap;
  }

  .apr {
    white-space: nowrap;
  }
}

.dataRow p {
  font-family: "Open Sans";
  font-size: 15px;
}

@media (max-width: 920px) {
  /* .tableColumnCell:nth-child(3),
  .tableColumnCell:nth-child(4) {
    display: none;
  }

  .dataRow td:nth-child(3),
  .dataRow td:nth-child(4) {
    display: none;
  } */
}

@media (max-width: 768px) {
  .rootBox {
    padding: 0 20px;
  }
  .composition {
    min-width: 250px !important;
  }
}

@media (max-width: 520px) {
  .rootBox {
    padding: 0 10px;
  }
}
