.container {
  margin: 0 auto;
  margin-right: 6px;
  /* background-color: #ffffff; */
  border-radius: 16px;
  border: 1px solid #f3f3f3;
  background-color: #ffffffab;

  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
}

.topSection {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 5px 10px;
  border-bottom: 2px solid #f3f3f3;
}

.orderId {
  font-size: 12px;
  font-weight: 600;
}

.iconExternalLink {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.iconExternalLink:hover {
  color: #d50066;
}

.bottomSection {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tokenContainer {
  display: flex;
  gap: 10px;
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */

  margin: 0 10px;
  padding: 0 20px;
}

.tokenWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tokenIcon {
  width: 40px;
  height: 40px;
}

.tokenText {
  margin-top: 5px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.greenText {
  color: green;
}

.timeRemaining {
  margin-bottom: 5px;
  color: green;
  font-size: 10px;
}

.progress {
  height: 10px;
  background-color: #6b78bd;
  border-radius: 10px;
  border: 1px solid white;
}

.activeProgress {
  height: 8px;
  background-color: #d7d7d7;
  border-radius: 10px;
}

.arrow {
  grid-column: span 2 / span 2;

  justify-self: center;
  place-self: center;
  margin-bottom: 40px;
}

.extrasContainer {
  /* margin-top: -20px; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.fees,
.averagePrice {
  color: black;
  font-weight: 600;
  white-space: nowrap;

  padding: 5px 10px;
  border-radius: 10px;

  background: #344d6421;
  /* opacity: 0.2; */
  border-radius: 17px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
}

.buttonContainer {
  display: flex;
  gap: 18px;
}

.button {
  flex: 1;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  border-radius: 8px;

  font-weight: 600;
  border: none;
  outline: none;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  border: 1px solid white;
}

.successButton {
  color: #eaffea;
  background: #5cbd57;
}

.successButton:hover {
  cursor: not-allowed;
  opacity: 0.5;
}
.successButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.cancelButton {
  color: white;
  background: #ff6969;
}

.cancelButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* .cancelButton:hover {
	background-color: #e3036f;
} */

.withdrawButton {
  color: #eaffea;
  background: #5cbd57;
}

.withdrawButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.greenProgress {
  background-color: green;
  opacity: 0.5;
}

.redProgress {
  background-color: rgb(210, 66, 66);
  /* opacity: 0.5; */
}

@media (max-width: 520px) {
  .tokenText {
    font-size: 14px;
  }
}
