.selectTokenSection {
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  padding: 12px 20px;
  border-radius: 10px;
}

.tokensAndAmt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-weight: 600;
  font-size: 22px;
}

.selectBox {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 5px !important;
  height: 40px;
}

.singleText {
  color: gray;
  margin-top: 8px;
  font-size: 14px;
}

.errorText {
  color: rgb(239 68 68);
  margin-top: 5px;
  font-size: 12px;
}

.menuItems {
  display: flex;
  align-items: center;
}

.optionText {
  margin-left: 10px;
}

.styledBoxFive {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styledAvatarOne {
  height: 25px;
  width: 25px;
}

.styledAvatarTwo {
  left: -10px;
  height: 25px;
  width: 25px;
}

.sliderPart {
  display: flex;
  flex-direction: column;
}

.proportional {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.proportional p {
  font-weight: 600;
}

.tokensList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 8px;
}

.items {
  background-color: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  padding: 12px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.tokenInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tokenInfo p {
  font-weight: 600;
}

.amt {
  display: flex;
  flex-direction: column;
}

.amt p {
  font-weight: 600;
  font-size: 18px;
}

.amt span {
  font-size: 14px;
}

.priceImpact {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 8px;
}

.impact,
.number {
  padding: 10px 20px;
  background-color: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.number {
  width: 100%;
}

.number p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.priceImpact p {
  font-weight: 600;
  white-space: nowrap;
}

.btn {
  margin-top: 10px;
  height: 50px;
  background-color: #9180e0;
  color: white;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  font-size: 18px;
  font-weight: 600;
}

.btnConnect:enabled:hover {
  /* background-color: #ffdeea; */
}

.btnConnect:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.btnBtn {
  background: #554994;
  border-radius: 17px;
  color: white;
}

.totalAndImpact {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
}

.total,
.impactPrice {
  display: flex;
  gap: 2px;
}

.text {
  width: 45%;
  white-space: nowrap;
}

.value p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.value {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text,
.value {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 0.5px solid white;
}

.text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.value {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.total p {
  font-size: 16px;
  font-weight: 500;
}

.impactPrice p {
  font-size: 14px;
}

.maxInput {
  color: blueviolet;
  font-weight: 800;
  font-size: 13px;
}

.optimize {
  font-weight: 800;
  font-size: 13px;
}

.backIcon {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 25px;
}
